    <div class="container mt-5">
        <div class="jumbotron">
            <h2>Scriptz</h2>
            <h5>About This App</h5>
            <b> <h6>
            <p>This is a full stack web-based app that allows people to keep track of their medications and when to take them. When a medication is prescribed the app user simply adds it to their account.  They enter the name, dosage, frequency prescribed and the number of pills in the bottle. The app shows what medications are due by time of day. The user then clicks the taken button and the app will keep track of what medications were taken and the number of pills remaining. Clicking on the drug info icon opens up relevant patient information about the drug. We utilize an API provided by the FDA (<a href="https://open.fda.gov/about/">https://open.fda.gov/about/</a>) for the drug generic name and patient information.  
                <br> The app is built using HTML, JavaScript, JQuery, CSS, Bootstrap, Node JS, Handlebars, MySQL and Sequelize. 
                <br> This is a responsive web-based application that works on tablets, smart phones and other mobile devices without the need for a download. 
                <br> Drug data is provided by the FDA and is delivered to the front end by querying the API at the time of user request so is the most current drug information. 
                <br>MySQL and Sequelize were used to build the database that houses the user data and the medication list.
            </p></h6>
            <h5>About Us</h5>
            <h6>We are a group of Full Stack Web Developers please connect with us on github.</h6></b>
            <br><br>
        </div>

        <div>

            <div class="well">
                <p></p>
                <div class="row">

                    <div class="col-sm-3">Christopher Rogers 
                        <a href="https://github.com/armitroncee">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-2">Heath Rost
                        <a href="https://github.com/personablemedia">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-2">Duran Hill
                        <a href="https://github.com/duranhill">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-2">Lauren Tejada
                        <a href="https://github.com/laurentejada25">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-2">Anne Rottler
                        <a href="https://github.com/AR123456">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <footer>
       <br><br><br>
        <div class="col-lg-1 col-offset-6 centered container">
            <a href="/home">
                <button type="button" class="btn btn-secondary">Home</button>
            </a>
        </div>
   
    </footer>

</div>