<div class="jumbotron">
    <h1 class="display-3">My Pill Box!</h1>
    <p class="lead">Keep track of your medications.</p>
    <hr class="my-4">
    <p class="lead">
      
      <button type="button" id="1" role="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
        Log In
      </button>


      <!-- MODEL / POP-UP  /////// LOG IN -->
      
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter user name and password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <!-- LOG IN FORM -->

              <div class="modal-body">
                <form class="form-inline" id="signin" name="signin" method="post" action="signin">
                  <label name="email" class="sr-only" for="inlineFormInputGroupUsername2">Email</label><div class="input-group mb-2 mr-sm-2"><input type="text" name="email" class="form-control" id="email" placeholder="Email"></div>
                  <label name="password" class="sr-only" for="inputPassword3">Password</label><input type="password" name="password" class="form-control" id="password" placeholder="Password">
                  <div class="form-check mb-2 mr-sm-2"><input class="form-check-input" type="checkbox" id="inlineFormCheck"><label class="form-check-label" for="inlineFormCheck">Remember me</label></div>
                  <button type="submit" id="4" class="btn btn-success btn-lg">Submit</button>
                </form>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <!-- END   /////   MODEL / POP-UP  /////// LOG IN -->

      <a class="btn btn-success btn-lg" id="2" href="/signup" role="button">Sign Up - New Users</a>

      </br></br>

      <a class="btn btn-success btn-lg" id="3" href="/logout" role="button">Log Out</a>
    </p>
  </div>