div {
    /*border: 2px solid black;*/
   /* margin: 10px;*/
  }
body {
    /*background-image: url("../../assets/images/mistymountains.png");  */
     background-image: url("../../images/manypill.jpeg"); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    padding-bottom: 0;    
}

#addMedicationForms {
    width: 75%;
}

#submit {
  margin-bottom: 2rem;
}

/* css for sign up page  */
/* https://codepen.io/juff03/pen/OXaXRG */
#success_message{ display: none;}